@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* ==========HEADER==================== */
.header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between;
    padding: 8px 0;
}

.select{
    color: rgb(154,143,159);
    height: 27px;
    width: 51px;
    margin-left: 15px;
}

.one{
    display: flex;
}

.queen{
    color: rgb(154,143,159);
    font-size: 15px;
}

.fa-solid{
    font-size: 12px;
}

.two{
    display: flex;
    padding-top: 12px;
    margin-right: 15%;
}

.num{
    color: rgb(176,145,79);
    font-size: 14px;
}

/* =====================NAVBAR================================ */

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 3px;
    width: 100%;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background-color: white;
    margin: 10px auto 5px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .img{
    margin-left: 15%;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar li{
    padding: 10px 15px;
}

.two a:hover{
    color: rgb(176,145,79);
}

.two button{
    background-color: rgb(176,145,79);
    height: 49px;
    width: 150px;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.two button:hover{
    background-color: #69582c;
    color: white;
    transition: all 0.2s;
}

/* ================================SECTION 1 CONTACT US ==================== */

.aboutus{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/IMG/background.jpg');
    height: 310px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.usabout{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding: 120px 0 90px;
}

.angle{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(191,192,192);
    font-weight: 400;
    font-size: 15px;
    padding: 16px 0 8px;
}

.fa-angle-right{
    font-size: 13px;
    font-weight: 700;
    margin: 0 !important;
}

/* =======================SECTION SIMILAR ========================== */

.shoes{
    width: 728px;
    border: 1px solid rgb(242,242,242);
    margin: 0 auto 25px;
}

.shoes img{
    width: 100%;
    height: 364px;
}

.shoes h1{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.shoe{
    font-size: 12px;
    color: rgb(176,145,79);
}

.calender p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    margin-right: 20px;
}

.calender{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 16px 0;
}

.consectetur{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(124,123,123);
    line-height: 26px;
    margin-bottom: 16px;
}

.shoes button{
    height: 40px;
    width: 178px;
    color: white;
    background-color: rgb(176,145,79);
    letter-spacing: 1px;
    border: none;
    font-weight: 700;
    margin: 15px 0;
    cursor: pointer;
}

.shoes button:hover{
    background-color: #69582c;
    transition: all 0.2s;
}

.padding{
    padding: 24px;
}

.march{
    font-weight: 700;
}

.calender a{
    color: black;
}

.calender a:hover{
    color: rgb(176,145,79);
}

.shoes h1:hover{
    color: rgb(176,145,79);
    cursor: pointer;
}

.audio{
    margin: 24px 24px 0 24px;
}

.video{
    margin: 24px 24px 0 24px;
}

.similar{
    clear: both;
    padding: 70px 0;
}

.list ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 25.7%;
}

.list a{
    padding: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: black;
    margin-right: 5px;  
    border: 1px solid white;  
}

.border{
    border: 1px solid rgb(176,145,79) !important;
}

.list a:hover:not(.border){
    border: 1px solid rgb(176,145,79);
}

/* ==========FOOTER================= */

.footer{
    clear: both;
    background-color: rgb(240,240,240);
}

.foot{
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0 48px;
}

.eden{
    width: 255px;
    margin: 0 15px;
}

.eden h1{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.eden p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(108,117,125);
    line-height: 27px;
}

.address{
    width: 255px;
    margin: 0 15px;
}

.address h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.address p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    line-height: 28px;
}

.fat{
    color: rgb(176,145,79);
    font-size: 16px;
    margin-right: 10px;
}

.quick{
    width: 255px;
    margin: 0 15px;
}

.quick h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.quick li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(108,117,125);
    margin-bottom: 10px;
    line-height: 1.5;
}

.quick .fa-angle-right{
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px !important;
}

.company{
    width: 255px;
    margin: 0 15px;
}

.company h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.company p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(108,117,125);
    margin-bottom: 10px;
    line-height: 1.5;
}

.company h2{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 24px 0;
}

.company a{
    color: rgb(176,145,79);
    margin: 0px 3px;
}

.quick li:hover{
    color: rgb(176,145,79);
}

.company p:hover{
    color: rgb(176,145,79);
    cursor: pointer;
}

.fa-copyright{
    font-size: 13px;
    margin: 24px 0;
}

.copyright{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.theme{
    color: rgb(176,145,79);
}

.copyright::before{
    content: '';
    display: block;
    border: none;
    border-bottom: 2px solid white;
}

/* ===========================MEDIA RESPONSE================= */

@media screen and (min-width: 320px) and (max-width:480px){

    /* =====HEADER====== */
    .header{
        display: block;
        margin: 0;
        padding: 8px 15px;
        width: 100%;
    }

    .one{
        padding: 15px 0 0px 100px;
    }

    ul{
        text-align: center;
        flex-direction: column;
    }

    .two{
        display: block;
        margin: auto;
    }

    /* ========NAVBAR========== */

    .navbar{
        margin: 0;
        width: 100%;
        position: static;
    }

    .navbar img{
        margin: 10px auto ;
    }

    .plan{
        font-size: 38px;
        margin: 0 20px;
    }

    .navbar button{
        margin-left: 10px;
    }

    .lorem{
        width: 100%;
        margin: auto;
        padding: 0 5px ;
    }

    /* =========ABOUT US========== */

    .aboutus{
        margin-top: 50px;
    }

    /* ===============SECTION SIMILAR========= */

    .similar{
        padding: 70px 15px;
    }
    .shoes{
        width: 100%;
    }

    .shoes img{
        height: 144px;
        width: 100%;
    }

    .calender p{
        line-height: 27px;
    }

    .audio{
        width: 238px;
        height: 148px;
        
    }

    .video{
        height: 400px;
        width: 240px;
    }

    .list a{
        width: 10%;
        margin: 0 0 0 5px;
        padding: 0;
    }

    .list ul{
        flex-direction: row;
        margin: 0;
    }

    /* ============FOOTER=============== */

    .foot{
        display: block;
        width: 100%;
        padding: 60px 15px 24px;
    }

    .quick ul{
        text-align: left;
    }

    .eden, .address, .quick, .company{
        margin: 0;
    }

    .copyright{
        padding: 0 0 24px 0;
    }

}