@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between;
    padding: 8px 0;
}

.select{
    color: rgb(154,143,159);
    height: 27px;
    width: 51px;
    margin-left: 15px;
}

.one{
    display: flex;
}

.queen{
    color: rgb(154,143,159);
    font-size: 15px;
}

.fa-solid{
    font-size: 12px;
}

.two{
    display: flex;
    padding-top: 12px;
    margin-right: 15%;
}

.num{
    color: rgb(176,145,79);
    font-size: 14px;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 3px;
    width: 100%;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background-color: white;
    margin: 10px auto 5px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .img{
    margin-left: 15%;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar li{
    padding: 10px 15px;
}

.two a:hover{
    color: rgb(176,145,79);
}

.navbar button{
    background-color: rgb(176,145,79);
    height: 49px;
    width: 150px;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar button:hover{
    background-color: #69582c;
    color: white;
    cursor: pointer;
}

.services{
    padding-bottom: 100px;
}

.aboutus{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/IMG/background.jpg');
    height: 310px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.usabout{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding: 120px 0 90px;
}

.angle{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(191,192,192);
    font-size: 15px;
    font-weight: 400;
    padding: 16px 0 8px;
}

.fa-angle-right{
    font-size: 13px;
    font-weight: 700;
    margin: 0px !important;
}


.popular{
    text-align: center;
}

.bout{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(176,145,79);
    letter-spacing: 2.8px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 100px;
    margin-bottom: 16px;
}

.popular h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-bottom: 16px;
}

.vokalia{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 15px;
    color: rgb(123,123,123);
    padding: 0 25%;
    margin-top: 16px;
}

.vokalia::after{
    content: '';
    display: block;
    width: 40px;
    height: 0;
    border-bottom: 3.5px solid rgb(176,145,79);
    margin: 24px auto 70px;
}

.list{
    width: 72%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.prof{
    text-align: center;
    border: 1px solid rgb(241,241,241);
    height: 287px;
    width: 360px;
    padding: 48px 15px;
}

.prof img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.semper{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(123,123,123);
    font-weight: 400;
    line-height: 27px;
}

.prof h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0;
}

.prof:hover{
    background-color: rgb(241,241,241);
}

.testimonial{
    clear: both;
    padding-bottom: 100px;
}

.block{
    display: flex;
}

.test p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(176,145,79);
    letter-spacing: 2.8px;
    font-weight: 700;
}

.test h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

.rose{
    padding: 100px;
    width: 60%;
    background-image: url('/IMG/slider-img2.jpg');
    background-repeat: no-repeat ;
    background-attachment: fixed;
}

.test{
    width: 40%;
    position: relative;
}

.custom{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26%, -100%);
}

.this{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 24px;
}

.fa-quote-left{
    font-size: 55px;
    color: rgb(176,145,79);
    padding-top: 24px;
    margin-bottom: 16px;
}

.custom h1::after{
    content: '';
    display: block;
    width: 40px;
    height: 0;
    border-bottom: 3.5px solid rgb(176,145,79);
    
    margin-top: 20px;
}

.ray{
    display: flex;
    flex-wrap: wrap;
}
.ray img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.ceo{
    margin-left: 20px;
    margin-top: 10px;
}

.ceo h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: white;
}

.ceo p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    color: white;
}

.club{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;  
}

.hotelcollection{
    width: 540px;
    height: 370px;
    background-color: rgb(248,249,250);
    padding: 48px;
    margin: 0 15px 0 0;
}

.hotelcollection h1{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 8px;
}

.hotelcollection p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(123,123,123);
    margin: 24px 0;
}

.hotelcollection button{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    height: 49px;
    width: 141px;
    background-color: rgb(176,145,79);
    color: white;
    border: none;
}

.hotelcollection button:hover{
    background-color: #69582c;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.edenhotel h1{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 24px;
}

.edenhotel li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    padding: 6px 0;
    line-height: 27px;
}

.edenhotel{
    margin: 0 0 0 15px;
    padding-left: 24px;
}

.edenhotel ul{
    line-height: 27px;
}

.edenhotel li::before{
    content: '';
    display: inline-block;
    width: 8px;
    border: none;
    border-top: 2px solid rgb(176,145,79);
    margin-right: 10px;
    margin-bottom: 3px;
}

.edenhotel button{
    height: 49px;
    width: 145px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: transparent;
    font-weight: 700;
    border: 1px solid rgb(131,131,131);
    margin-top: 24px;
}

.edenhotel button:hover{
    background-color: rgb(176,145,79);
    color: white;
    border: none;
    transition: all 0.2s ease;
}

.footer{
    clear: both;
    background-color: rgb(240,240,240);
}

.foot{
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0 48px;
}

.eden{
    width: 255px;
    margin: 0 15px;
}

.eden h1{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.eden p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(108,117,125);
    line-height: 27px;
}

.address{
    width: 255px;
    margin: 0 15px;
}

.address h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.address p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    line-height: 28px;
}

.fat{
    color: rgb(176,145,79);
    font-size: 16px;
    margin-right: 10px;
}

.quick{
    width: 255px;
    margin: 0 15px;
}

.quick h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.quick li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(108,117,125);
    margin-bottom: 10px;
    line-height: 1.5;
}

.quick .fa-angle-right{
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px !important;
}

.company{
    width: 255px;
    margin: 0 15px;
}

.company h1{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.company p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgb(108,117,125);
    margin-bottom: 10px;
    line-height: 1.5;
}

.company h2{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 24px 0;
}

.quick li:hover{
    color: rgb(176,145,79);
}

.company p:hover{
    color: rgb(176,145,79);
    cursor: pointer;
}

.company a{
    color: rgb(176,145,79);
    margin: 0px 3px;
}

.fa-copyright{
    font-size: 13px;
    margin: 24px 0;
}

.copyright{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.theme{
    color: rgb(176,145,79);
}

.copyright::before{
    content: '';
    display: block;
    border: none;
    border-bottom: 2px solid white;
}

/* ===========================MEDIA RESPONSE================= */

@media screen and (min-width: 320px) and (max-width:480px){

    /* =====HEADER====== */
    .header{
        display: block;
        margin: 0;
        padding: 8px 15px;
        width: 100%;
    }

    .one{
        padding: 15px 0 0px 100px;
    }

    ul{
        text-align: center;
        flex-direction: column;
    }

    .two{
        display: block;
        margin: auto;
    }

    /* ========NAVBAR========== */

    .navbar{
        margin: 0;
        width: 100%;
        position: static;
    }

    .navbar img{
        margin: 10px auto ;
    }

    .plan{
        font-size: 38px;
        margin: 0 20px;
    }

    .navbar button{
        margin-left: 10px;
    }

    .lorem{
        width: 100%;
        margin: auto;
        padding: 0 5px ;
    }

    /* =========ABOUT US========== */

    .aboutus{
        margin-top: 50px;
    }

    /* =======POPULAR========= */

    .popular h1{
        padding: 0 20px;
        font-size: 44px;
    }

    .vokalia{
        padding: 0 20px;
        line-height: 27px;
    }

    /* =================LIST================ */

    .list{
        width: 100%;
        padding: 0 15px;
    }

    /* ================TESTIMONIAL============ */

    .block{
        display: block;
        position: relative;
    }

    .rose{
        width: 100%;
    }

    .test{
        width: 100%;
    }


    .rose{
        padding: 300px 39px 100px;
    }

    .custom{
        position: absolute;
        bottom: 100%;
        left: 26%;
        margin-top: 100px;
    }

    .custom h1{
        color: white;
    }

    /* ===================SECTION ENTER============== */

    .enter{
        width: 100%;
    }

    .club{
        width: 100%;
        flex-direction: column;
    }

    .hotelcollection{
        width: 100%;
        padding: 48px;
        margin: 0 0 48px 0;
    }

    .edenhotel{
        width: 100%;
        padding: 0 15px 0 15px;
        margin: 108px 0 0 0;
    }

    .edenhotel h1{
        padding: 0 15px;
    }

    .edenhotel ul{
        margin: 0;
        padding: 0 15px;
        text-align: left;
    }

    .edenhotel li{
        font-size: 14px;
    }

    .edenhotel button{
        margin-left: 15px;
    }

    /* ============FOOTER=============== */

    .foot{
        display: block;
        width: 100%;
        padding: 60px 15px 24px;
    }

    .quick ul{
        text-align: left;
    }

    .eden, .address, .quick, .company{
        margin: 0;
    }

    .copyright{
        padding: 0 0 24px 0;
    }
}